doctype html
html
  head
    title Titulo
    meta(charset = 'UTF-8')
    link(rel='stylesheet',href='/w3.css')
  body
    block content
    footer.w3-container.w3-light-grey
      p
        a(href='http://localhost:7000/') 
          | Voltar à página principal
      address Criado por Ezequiel Moreira
